# Project 10 -- David Martin Calalang

*Consulted videos on The Examples Book

## Question 1

In [3]:
%sql sqlite:////anvil/projects/tdm/data/lahman/lahman.db

### Part 1A: Count players from years 2018 to 2022

In [7]:
%%sql
SELECT yearID AS year, COUNT(*) AS num_of_players FROM appearances WHERE yearID >= 2018 AND yearID <= 2022 GROUP BY yearID ORDER BY num_of_players DESC;

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[(2021, 1706), (2022, 1683), (2019, 1567), (2018, 1533), (2020, 1360)]

## Question 2

In [8]:
%%sql
SELECT * FROM teams LIMIT 3;

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[(1871, 'NA', 'BS1', 'BNA', '', 3, 31, '', 20, 10, '', '', 'N', '', 401, 1372, 426, 70, 37, 3, 60, 19, 73, 16, '', '', 303, 109, 3.55, 22, 1, 3, 828, 367, 2, 42, 23, 243, 24, 0.834, 'Boston Red Stockings', 'South End Grounds I', '', 103, 98, 'BOS', 'BS1', 'BS1'),
 (1871, 'NA', 'CH1', 'CNA', '', 2, 28, '', 19, 9, '', '', 'N', '', 302, 1196, 323, 52, 21, 10, 60, 22, 69, 21, '', '', 241, 77, 2.76, 25, 0, 1, 753, 308, 6, 28, 22, 229, 16, 0.829, 'Chicago White Stockings', 'Union Base-Ball Grounds', '', 104, 102, 'CHI', 'CH1', 'CH1'),
 (1871, 'NA', 'CL1', 'CFC', '', 8, 29, '', 10, 19, '', '', 'N', '', 249, 1186, 328, 35, 40, 7, 26, 25, 18, 8, '', '', 341, 116, 4.11, 23, 0, 0, 762, 346, 13, 53, 34, 234, 15, 0.818, 'Cleveland Forest Citys', 'National Association Grounds', '', 96, 100, 'CLE', 'CL1', 'CL1')]

### Part 2A: average attendance for each team in the year 2022

In [9]:
%%sql
SELECT teamID, AVG(attendance) AS team_avg FROM teams WHERE yearID = 2022 GROUP BY teamID;

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[('ARI', 1605199.0),
 ('ATL', 3129931.0),
 ('BAL', 1368367.0),
 ('BOS', 2625089.0),
 ('CHA', 2009359.0),
 ('CHN', 2616780.0),
 ('CIN', 1395770.0),
 ('CLE', 1295870.0),
 ('COL', 2597428.0),
 ('DET', 1575544.0),
 ('HOU', 2688998.0),
 ('KCA', 1277686.0),
 ('LAA', 2457461.0),
 ('LAN', 3861408.0),
 ('MIA', 907487.0),
 ('MIL', 2422420.0),
 ('MIN', 1801128.0),
 ('NYA', 3136207.0),
 ('NYN', 2564737.0),
 ('OAK', 787902.0),
 ('PHI', 2276736.0),
 ('PIT', 1257458.0),
 ('SDN', 2987470.0),
 ('SEA', 2287267.0),
 ('SFN', 2482686.0),
 ('SLN', 3320551.0),
 ('TBA', 1128127.0),
 ('TEX', 2011361.0),
 ('TOR', 2653830.0),
 ('WAS', 2026401.0)]

### Part 2B: Firstly, find average attendance among all teams in year 2022, then creating a subquery to only show teams in part 2A that are above this average team attendance.

In [11]:
%%sql
SELECT AVG(attendance) AS total_avg FROM teams WHERE yearID = 2022;

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[(2151888.6,)]

In [21]:
%%sql
SELECT orig.teamID, AVG(orig.attendance) AS team_avg, sub.total_avg FROM teams AS orig 
JOIN (SELECT AVG(attendance) AS total_avg FROM teams WHERE yearID = 2022) AS sub
WHERE (orig.yearID = 2022) GROUP BY orig.teamID
HAVING (team_avg >= sub.total_avg)
ORDER BY team_avg DESC;

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[('LAN', 3861408.0, 2151888.6),
 ('SLN', 3320551.0, 2151888.6),
 ('NYA', 3136207.0, 2151888.6),
 ('ATL', 3129931.0, 2151888.6),
 ('SDN', 2987470.0, 2151888.6),
 ('HOU', 2688998.0, 2151888.6),
 ('TOR', 2653830.0, 2151888.6),
 ('BOS', 2625089.0, 2151888.6),
 ('CHN', 2616780.0, 2151888.6),
 ('COL', 2597428.0, 2151888.6),
 ('NYN', 2564737.0, 2151888.6),
 ('SFN', 2482686.0, 2151888.6),
 ('LAA', 2457461.0, 2151888.6),
 ('MIL', 2422420.0, 2151888.6),
 ('SEA', 2287267.0, 2151888.6),
 ('PHI', 2276736.0, 2151888.6)]

## Question 3

### Part 3A: Winning percentage for year 2022 of team LAN

In [36]:
%%sql
SELECT teamID, CAST((CAST(W AS REAL)/(CAST(W+L AS REAL))) AS REAL) AS winning_per FROM teams WHERE yearID = 2022 AND teamID = 'LAN';

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[('LAN', 0.6851851851851852)]

## Question 4

### Part 4A: Only printing teams between 2012 and 2022 that have a winning percentage greater that 0.55

In [62]:
%%sql
SELECT teamID, SUM(W) AS total_wins, SUM(L) AS total_losses, SUM(W) * 1.0 / (SUM(W) + SUM(L)) AS winning_per FROM teams 
WHERE yearID BETWEEN 2012 and 2022
GROUP BY teamID
HAVING winning_per > 0.55
ORDER BY winning_per DESC;

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[('LAN', 1017, 664, 0.6049970255800119),
 ('NYA', 953, 727, 0.5672619047619047),
 ('SLN', 936, 742, 0.5578069129916567)]

## Question 5

### Part 5A: Finding the players that have had at least 20 all star appearances.

In [64]:
%%sql
SELECT playerID, COUNT(playerID) as appearances FROM allstarfull
GROUP BY playerID 
HAVING appearances >= 20
ORDER BY appearances DESC;

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[('mayswi01', 26), ('musiast01', 24), ('aaronha01', 24)]

### Part 5B: Custom query, uses a subquery that finds the average number of homeruns across all players in the batting dataset from the year 2022, to only output players in the year 2022 that have an average number of homeruns greater than or equal to the league average. Output limited to 5 as the output is quite large.

In [88]:
%%sql
SELECT b.playerID, AVG(b.HR) AS player_avg, sub.avg_hr FROM batting AS b
JOIN (SELECT AVG(HR) AS avg_hr FROM batting WHERE yearID = 2022) AS sub 
WHERE yearID = 2022
GROUP BY b.playerID
HAVING (player_avg >= sub.avg_hr)
ORDER BY player_avg DESC
LIMIT 5;

 * sqlite:////anvil/projects/tdm/data/lahman/lahman.db
Done.

[('judgeaa01', 62.0, 3.0931198102016606),
 ('schwaky01', 46.0, 3.0931198102016606),
 ('troutmi01', 40.0, 3.0931198102016606),
 ('alonspe01', 40.0, 3.0931198102016606),
 ('rileyau01', 38.0, 3.0931198102016606)]

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.